.feature__icon {
    padding: 0;
    fill: #ffffff;
    width: rem(50px);
    height: rem(45px);

    
}

.feature__text {
    font-size: rem(16px);
    min-width: rem(85px);
    margin-left: rem(12px);
    margin-right: rem(38px);
}
