
.headline__title {
    margin-bottom: rem(13px);
    // margin-top: rem(102px);
}

.headline__desc {    
    font-weight: 400;
    text-align: center;
    font-size: rem(18px);
    padding: 0 21%;
    margin-bottom: rem(49px);
    line-height: 21,rem(6px);
    
}